@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root{
	--side-bar: #273044;
	--dark-side-bar: #151a24;
	--text-color: #d1d1d1;
	--button-color: #e4bf46;
}


body{
	height: 100vh;
}

.sidebar .text{
	font-size: 17px;
	font-weight: 700px;
	color: var(--text-color);
}

.sidebar .image{
	min-width: 45px;
	display: flex;
	align-items: center;
}

.sidebar{
 	position: fixed;
	top: 0;
	right: 0;
	padding: 10px 14px;
	height: 100%;
	width: 25%;
	background: var(--side-bar);
}

.menu .search-box{
	display: flex;
	align-items: center;
	height: 50px;
	list-style: none;
	text-decoration: none;
}

.sidebar li{
	display: flex;
	align-items: center;
	height: 27px;
	list-style: none;
	text-decoration: none;
}

.search-box {
	background-color: var(--dark-side-bar);
}

.search-box  input{
	width: 100%;
	border: none;
	outline: none;
	background-color: var(--dark-side-bar);
	color: white;
}


.sidebar li .icon{
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--button-color);
	font-size: 30px;
	min-width: 40px;
}

.sidebar .image-text img{
	width: 45px;
	border-radius: 6px;
}

.sidebar header .image-text{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 5%;
}

.sidebar .image-text .header-text{
	display: flex;
	flex-direction: column;
}

.header-text{
	font-weight: 800;
}

.sidebar header .toggle{
	position: absolute;
	top: 50%;
	right:100%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: var(--side-color);
	background: var(--button-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 250%;
}

.sidebar .build-list{
	margin-top: 15px;
	color: white;
	background-color: var(--dark-side-bar);
	list-style: none;
	padding-left: 0;
	max-height: 93%;
	overflow-y: auto;
}